.slick-prev {
    border: 1px solid green !important;
    left: 0 !important;
    z-index: 1000 !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next {
    border: 1px solid green !important;
    right: 0 !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}