// reset slick slider css

.slick-prev {
    border: 1px solid green !important;
    left: 0 !important;
    z-index: 1000 !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next {
    border: 1px solid green !important;
    right: 0 !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.section-share {
    &.self-design-section {
        background: #fff;
    }

    &.share-new-section {
        background: #f5f5f5;
    }

    &.about-section {
        background: #fff;
    }

    .section-content {

        .section-img {

            .img {
                width: 325px;
                height: 200px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                margin-left: 11px;
                cursor: pointer;

                &.self-design-section {
                    background-image: url('../../assets/SelfDesign/biotope.jpg');
                }

                &.share-new-section {
                    //background-image: url('../../assets/SelfDesign/bonsai.jpg');
                }
            }

            .img-title {
                font-weight: 500;
                margin: 8px 11px;
                cursor: pointer;
            }
        }
    }
}

.section-share {
    width: 100%;

    .section-container {
        margin: 0 67px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 100px;
            padding-top: 35px;

            .title-section {
                font-size: 24px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                cursor: pointer;

                &:hover {
                    background: #f7d800;
                }
            }
        }
    }
}

.about-section {

    .section-container {
        padding-bottom: 30px;

        .section-about-content {
            width: 100%;
            height: 400px;
            display: flex;
            gap: 15px;

            .content-left {
                width: 50%;
                height: 100%;
            }

            .content-right {
                width: 50%;
                height: 100%;
            }
        }
    }
}